<template>
    <require from="../css/footer.css"></require>
    
    <div class="horizontal-separator"></div>

    <div class="outer-layout">
        <div class="layout">
            <div class="headshot-layout">
                <img class="headshot" src="static/headshot.jpg" width="150" height="150">
            </div>
            
            <div class="personal-info">
                <div class="blurb-text">${blurbText}</div>
                <a href="static/Daniel_Sabbagh_Resume.pdf">resume</a>
                <a href="https://github.com/dsab123" target="_blank">
                <i class="fa fa-github" aria-hidden="true" style="font-size: 1.3em;"></i>   
                dsab123
                </a>
            </div>
        </div>
    </div>
</template>