<template>
    <require from="../css/post.css"></require>

    <h2 class="page-title">${postTitle}</h2>
    
    <div class="${postContents ? 'preload-post slide-post-in' : 'preload-post'}">${postContents}</div>

    <br>
    <div class="post-tags" if.bind="postTags">related: 
        <a class="post-tag" repeat.for="tag of postTags" click.delegate='getRelatedPostsByTag(tag)'>${tag}</a>
    </div>

    <br>

    <!-- TODO when one of these are clicked, set relatedPosts to [] and scroll to top of page -->
    <div class="${relatedPosts.length ? 'preload-related-posts slide-related-posts-in related-posts' : 'preload-related-posts related-posts'}">
        <h4><span>${postsTaggedPrefix}${selectedRelatedPost}</span></h4>
        <ul>
            <li repeat.for="post of relatedPosts">
                <a href="/#/post/${post.id}" click.delegate='resetPost("/#/post/${post.id}")' class="post-links">
                ${post.title}
                <ul>
                    <li>
                        ${post.teaser}
                    </li>
                </ul>
                </a>
            </li>
        </ul>
    </div>

</template>