<template>
    <!-- not currently using this, but might come in handy -->
    <require from="../css/talks.css"></require> 
   

    <h2 class="page-title">Talks</h2>
    
    <p class="talks-blurbs">${blurb}</p>
    <br>
    <p class="talks-blurbs">${paragraph}</p>

    <br>
    <p class="talks-blurbs">I hope to write more about the talks I've given in this space, as well as provide some recordings. All in due time.</p>
<!--
    <ul>
        <li class="talk-title" repeat.for="prop of talksList">
            ${prop.title}
            <ul>
                <li class="talk-description">
                    ${prop.description}
                </li>
                <li class="talk-info">
                    given on ${prop.date}
                </li>
            </ul>
        </li>
    </ul>
-->

    <br>

</template>