<template>
    <!-- not currently using this, but might come in handy -->
    <require from="../css/talks.css"></require> 
   

    <h2 class="page-title">Talks</h2>
    
    <p class="talks-blurb">${blurb}</p>

    <ul>
        <li class="talk-title" repeat.for="prop of talksList">
            ${prop.title}
            <ul>
                <li class="talk-description">
                    ${prop.description}
                </li>
                <li class="talk-info">
                    given on ${prop.date}
                </li>
            </ul>
        </li>
    </ul>

    <br>

</template>