:root {
    --separator-color: #818588;
    --font-family: 'Source Sans Pro';
}

.horizontal-separator {
    height: 2px;
    background: var(--separator-color);
    border-radius: 3px;
}

.personal-info {
    float:left;
    font-family: var(--font-family);
    margin-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
    width: 50%;
    border-left: 2px solid var(--separator-color);
}

.layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.outer-layout {
    margin-left: auto;
    margin-right: auto;
}

.headshot {
    margin-top: 15px;
    margin-right: 20px;
    float: left;
    border-radius: 50%;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}