.title {
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

.logo-title {
    background: #f57867;
    border-bottom: 3px solid orange;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -15px;
    margin-bottom: 15px;
    float: left;
}

.nav-item {
    text-decoration: none;
}

.nav-items {
    float: right;
}

.header-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-bar {
    background: #c7cece;
    padding-bottom: 3px;
}