.title {
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

.logo-title {
    background: #f57867;
    border-bottom: 3px solid orange;
    padding-left: 6px;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 10px;
    float: left;
}

.nav-item {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.nav-items {
    float: right;
}

.header-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-bar {
    /*background: #d6d8d8;*/
    background: linear-gradient(#ffffff, #d6d8d8);
    margin-bottom: 50px;
}