.pre-load {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, .1, 0.5, 1);
}

.slide-post-in {
	max-height: 1000px;
}

.post-tags {
	padding: 8px;
}

.post-tag {
	background-color: #c5c7ff;	
	margin-left: 10px;
	padding: 8px;
	text-decoration: none;
	cursor: pointer;
}

/* TODO reuse the dupe of this class in home */
.post-links {
    text-decoration: none;
}
