{
  "sourceMap": true,
  "sourceRoot": "src",
  "moduleIds": false,
  "comments": false,
  "compact": false,
  "presets": [
    "env"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-regenerator"
  ],
  "env" : {
    "test": {
      "presets": ["env"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
